{{#partial "content"}}
    <div class="welcomeNote">
        <div class="text-center" id="welcome">
            <h1>Tulinde Pori!</h1>
        </div>
        <a href="endangeredAnimal"><button class="btn btn-success btns">View Animals Spotted Here</button></a>
        </div><br><br>

    </div>


{{/partial}}
{{> layout.hbs}}