{{#partial "content"}}
    <br><br>
    <div class="endangeredAnimal">
        <form action="/endangeredAnimal" method="POST">
            <div class="form-group">
                <input type="text" class="form-control required" name="animalName" id="animalName" placeholder="Enter animals name..." required>
            </div>

            <div class="form-group">
                <input type="number" class="form-control required" name="age" id="age" placeholder="Enter an estimated animals age...." required>
            </div><br>
            <select class="form-control form-control-sm" name="animalAge">
                <option selected>Choose Animal age group bracket</option>
                <option value="Newborn">Newborn</option>
                <option value="Young">Young</option>
                <option value="Adult">Adult</option>
            </select><br><br>
            <div class="form-group">
                <input type="number" class="form-control required" name="animalId" id="age" placeholder="Enter animal id...." required>
            </div><br><br>
            <select class="form-control form-control-sm" name="animalCondition">
                <option selected>Choose Animal Condition</option>
                <option value="Healthy">Healthy</option>
                <option value="Ill">Ill</option>
                <option value="Okay">Okay</option>
            </select><br><br>

            <button type="submit" class="btn btn-success">Add your Tally </button>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}
